body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

header h2 {
  padding: 1.2vw;
  text-align: center;
  background-color: blue;
  color: white;
}

.item {
  flex: 1;
  padding: 1em;
}

.todo {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;

  > div {
    margin: 36px;
    min-width: 400px;
    max-width: 600px;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-right: 2em;

    label {
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;
    }
  }

  div.card.listcard {
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 0.75em;
    margin: 24px auto;
    padding: 18px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;

    form {
      width: 100%;
      div.list-group {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }

    button {
      // background: red;
      font-size: 1vw;
      font-weight: 600;
      border-radius: 12px;
      // color: white;
      cursor: pointer;
      padding: 0.3vw 2vw;
      margin: 0 0.75em;
    }

    .card-header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .assignee {
        font-weight: 600;
        font-size: 1.2vw;
      }
    }

    .header-complete-true {
      background-color: #198754;
      color: white;
      border-radius: 12px;
      padding: 0.5vw 3vw;
    }
    .header-complete-false {
      background-color: #dc3545;
      color: white;
      border-radius: 12px;
      padding: 0.5vw 3vw;
    }

    .card-footer {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}
div.modal-dialog {
  div.modal-header {
    .modal-title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .header-complete-true {
      background-color: #198754;
      color: white;
      border-radius: 12px;
      padding: 0.5vw 3vw;
    }
    .header-complete-false {
      background-color: #dc3545;
      color: white;
      border-radius: 12px;
      padding: 0.5vw 3vw;
    }
  }
}
.card {
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
.card,
.card form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2vw;
  font-weight: 600;
  text-align: center;
  margin: 24px auto;
  padding: 18px;
}

.card form {
  margin: 18px;
}
.card form label {
  padding: 18px;
}

form label:nth-child(1),
form label:nth-child(3) {
  background-color: purple;
  color: white;
  font-weight: 600;
  margin: 18px;
  padding: 18px;
  border-radius: 8px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

form label:nth-child(1) span,
form label:nth-child(3) span {
  padding: 12px;
}

form input:nth-child(1),
form input:nth-child(3) {
  border: none;
  font-size: 36px;
  &.focus,
  &.active {
    border: 10px solid bisque;
  }
}

button.btn.btn-primary {
  font-size: 1.2vw;
  background-color: blue;
  animation-duration: 2s;
  animation-name: submitBtn;
  animation-iteration-count: infinite;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
@keyframes submitBtn {
  from {
    background-color: blue;
    border: 1px solid blue;
    color: white;
  }
  50% {
    background-color: white;
    color: blue;
  }
  to {
    background-color: blue;
    border: 1px solid blue;
    color: white;
  }
}

button.btn.btn-primary:hover {
  background-color: rgb(96, 194, 129) !important;
  color: white !important;
}
